server:
  port: 8082
spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/keycloak_activities
      database: keycloak_activities
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking