server:
  port: 8083
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/keycloak_users
    username: postgres
    password: kishor@2233#
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
backend:
  url: http://localhost:8083/api/users